nav{
    background-color: #483D8B ;
}

aside {
    background-color: #836FFF;
}

footer {
    background-color: #191970;
    color: white;
}

article, header {
    background-color: #B0C4DE;
}

.menu li {
    display: inline;
    margin-left: 0;
    margin-right: 50px;
}

.menu ul {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu ul li a:hover {
    color: black;
}

h1, h2, h3, h4 {
    font-family: Arial;
}

p {
    font-family: Helvetica;
}

header, nav, article, footer {
    border-bottom: 2px grey solid;
    border-top: 2px grey solid;
    margin-top: 0;
    margin-bottom: 0;
}

img, p, table {
    margin-left: 20px;
    margin-right: 500px;
}

aside {
    border: 2px gray solid;
    position: absolute;
    bottom: 500px;
    right: 50px;
    top: 200px;
    padding-bottom: 1000px; 
    text-align: center;
}

table, tr, td {
    border: 1px black solid;
    border-collapse: collapse;
}

table {
    width: 300px;
}

